@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/mixins.scss';

.gallery--thumbnail {
	display: none;
}

@media (min-width: $small-screen) {
	.gallery {
		padding-inline: 3rem;
	}
	.main-img {
		border-radius: 12px;
		max-width: 400px;
		min-width: 400px;
		max-height: 100%;
		margin-bottom: 2rem;
	}
	.gallery--thumbnail {
		display: flex;
		justify-content: space-between;
	}
	.thumbnail-img {
		display: block;
		border-radius: 8px;
		max-width: 70px;
	}
}
