@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/mixins.scss';

.gallery--thumbnail-main {
	padding-inline: 3rem;
	display: flex;
	flex-direction: column;

	button {
		border: none;
		background-color: $white;
		cursor: pointer;
		margin-bottom: 2rem;
	}
}
.main-thumbnail-img {
	border-radius: 12px;
	max-width: 400px;
	min-width: 400px;
	max-height: 100%;
}
