@import '../../../globalStyles/mixins.scss';
@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/mixins.scss';

.header {
	display: flex;
	justify-content: space-between;
	height: 60px;
	border-bottom: 1px solid $neutral-200;
}
@media (min-width: $small-screen) {
	.header {
		height: 100px;
	}
}
.header--left {
	display: flex;

	img {
		margin-right: 2rem;
		align-self: center;
		height: 20px;
	}
}
.header--right {
	@include flex-centre;
	button {
		border: none;
		background-color: $white;
		margin-right: 2.5rem;
		cursor: pointer;
	}
	a {
		img {
			max-width: 46px;
		}
	}
}
