@import '../../../globalStyles/mixins.scss';
@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/mixins.scss';

.header {
	display: flex;
	justify-content: space-between;
	height: $small-screen-header-height;
	border-bottom: 1px solid $neutral-200;
}
@media (min-width: $small-screen) {
	.header {
		height: $big-screen-header-height;
	}
}
.header--left {
	display: flex;

	img {
		margin-right: 2rem;
		align-self: center;
		height: 20px;
	}
}
@media (max-width: $small-screen) {
	.header--left img {
		margin-left: 4.4rem;
	}
}

.header--right {
	@include flex-centre;
	button {
		border: none;
		background-color: $white;
		margin-right: 2.5rem;
		cursor: pointer;
	}
	a {
		img {
			max-width: 46px;
		}
	}
}
