@import '../../../globalStyles/mixins.scss';
@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/mixins.scss';

.header {
	display: flex;
	justify-content: space-between;
	height: $small-screen-header-height;
	border-bottom: 1px solid $neutral-200;
}
@media (min-width: $small-screen) {
	.header {
		height: $big-screen-header-height;
		margin-inline: $big-screen-margin;
	}
}
.header--left {
	display: flex;

	img {
		margin-right: 2rem;
		align-self: center;
		height: 20px;
	}
}
@media (max-width: $small-screen) {
	.header--left img {
		margin-left: 4.4rem;
	}
}

.header--right {
	@include flex-center;

	button {
		border: none;
		background-color: $white;
		margin-right: 2.5rem;
		cursor: pointer;
		position: relative;
		background-color: inherit;
		svg {
			fill: $neutral-400;
		}
		svg:hover,
		svg:focus {
			fill: $neutral-500;
		}
		span {
			background-color: $primary-300;
			color: $primary-100;
			font-size: $fs-300;
			font-weight: $font-bold;
			padding-inline: 0.4rem;
			border-radius: 25px;
			position: absolute;
			top: -5px;
			right: -5px;
		}
	}

	a {
		img {
			max-width: 46px;
		}
		img:hover {
			outline: 2px solid $primary-300;
			border-radius: 50%;
		}
	}
}
