@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/mixins.scss';

.header-navigation {
	display: flex;
	height: 100%;
	list-style: none;

	li {
		margin-inline: 1.2rem;
		height: 100%;
		@include flex-center;

		a {
			text-decoration: none;
			color: $neutral-400;
		}
	}
	li:hover {
		border-bottom: 3px solid $primary-300;

		a {
			color: $black;
		}
	}
}

@media (max-width: $small-screen) {
	nav {
		position: absolute;
		height: 100vh;
		width: 100vw;
		background-color: $black-semi;
		z-index: 5;
	}
	.header-navigation {
		flex-direction: column;
		background-color: white;
		width: 70%;
		padding-top: 5rem;
		padding-left: 2rem;

		li {
			max-height: 2rem;
			max-width: 70%;
			margin-inline: 0;

			a {
				color: $black;
				font-weight: $font-medium;
			}
		}
	}
}
