@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/mixins.scss';

.gallery--thumbnail-main {
	display: flex;
	flex-direction: column;
	max-width: $big-screen-max-width;
	justify-self: center;

	button {
		border: none;
		background-color: $white;
		cursor: pointer;
		margin-bottom: 2rem;
	}
}
.main-thumbnail-img {
	border-radius: 12px;
	max-width: $big-screen-max-width;
	max-height: 100%;
}
